* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-size: 16px;
  font-family: 'Titillium Web', sans-serif;
  background-color: #f1efef;
}

h1.page-title {
  text-align: center;
}

.animalForm {
  width: 50%;
  margin: 0 auto;
}

.mews {
  width: 80%;
  margin: 0 auto;
}